@page "/binding"

<h3>One-Way Binding</h3>
<p>
  @(person.Name)
  <br />
  @(person.Birthday.ToShortDateString())
  <br />
  @(person.Age)
</p>

<h3>Two-Way Binding</h3>
<p>
  <input @bind="person.Name" />
</p>

<h3>Two-Way Keypress Binding</h3>
<p>
  <input @bind-value="person.Name" @bind-value:event="oninput" />
</p>

@code {
  private PersonEdit person;

  protected override void OnParametersSet()
  {
    person = new PersonEdit
    {
      Name = "Jan Kowalski",
      Birthday = new DateTime(1998, 8, 21)
    };
  }
}
